body {
	padding-top: 100px;
	font-family: sans-serif;
	background: blanchedalmond;
}
h2 p {
	margin: 30px 0;
	font-family: sans-serifs;
	font-size: 50px;
	letter-spacing: 2px;
}
.panel-login {
	border-color: #ccc;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: deepskyblue;
	border-color: #fff;
	text-align: center;
}
.panel-login>.panel-heading a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	transition: all 0.1s linear;
	text-transform: uppercase;
	font-weight: 100;
}
.panel-login>.panel-heading a.active {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
p{
	font-family: sans-serifs;
	font-size: 15px;
}